
                <p style="margin: 20px 0 0 0;text-align: center;color: #252525;font-size: 17px;margin-bottom: 30px;">
                    We are available 24 hours a day, 7 days a week <br />
                    to answer any questions you may have over <br />
                    the phone or email.
                </p>
                <table style="width: 50%;margin: auto;text-align: center;">
                    <tr>
                        <td>
                            <p style="margin: 0;text-align: center;color: #ff5564;font-size: 24px;margin-bottom: 10px; font-weight: 600">
                                Contact Us
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="margin: 0;text-align: center;color: #252525;font-size: 16px;margin-bottom: 0;">+1
                                855-474-1507
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="margin: 0;text-align: center;color: #252525;font-size: 16px;margin-bottom: 5px;">
                                sales@candycoin.com
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="margin: 0;text-align: center;color: #252525;font-size: 16px;margin-bottom: 0; font-weight: 700">
                                <a href="https://candycoin.com" style="text-decoration: none; color: #000">CandyCoin.com</a>
                            </p>

                            <p style="margin: 0;text-align: center;color: #252525;font-size: 18px;margin-bottom: 0; margin-top: 15px; font-weight: 700">
                                Follow Us
                            </p>
                            <div style=" width: 100%; text-align: center; margin: 10px 0; ">
                                <a href="https://facebook.com/TheCandyCoin" style=" text-decoration: none; ">
                                    <img src="<%= reactAppUrl %>/assets/images/social-icon-facebook.png" alt="Facebook" style=" display: inline-block; max-width: 100%; margin: 0; width: 50px; "/>
                                </a>
                                <a href="https://www.instagram.com/thecandycoin/" style=" text-decoration: none; ">
                                    <img src="<%= reactAppUrl %>/assets/images/social-icon-instagram.png" alt="Instagram" style=" display: inline-block; max-width: 100%; margin: 0; width: 50px; "/>
                                </a>
                                <a href="https://twitter.com/thecandycoin" style=" text-decoration: none; ">
                                    <img src="<%= reactAppUrl %>/assets/images/social-icon-twitter.png" alt="twitter" style=" display: inline-block; max-width: 100%; margin: 0; width: 50px; "/>
                                </a>
                                <a href="https://vm.tiktok.com/ZMdXssXLp/" style=" text-decoration: none; ">
                                    <img src="<%= reactAppUrl %>/assets/images/social-icon-tiktok.png" alt="tiktok" style=" display: inline-block; max-width: 100%; margin: 0; width: 50px; "/>
                                </a>
                                <a href="https://www.pinterest.com/thecandycoin" style=" text-decoration: none; ">
                                    <img src="<%= reactAppUrl %>/assets/images/social-icon-pinterest.png" alt="pinterest" style=" display: inline-block; max-width: 100%; margin: 0; width: 50px; "/>
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>